In [1]:
import pandas as pd

In [2]:
#1. Creamos un diccionario con la información
datos = {
    'nombre':['Ana','Luis','Carlos'],
    'edad':[30,25,40]
}

In [3]:
#2. Convertimos ese diccionario en un DataFrame de Pandas
df_empleados = pd.DataFrame(datos)

In [4]:
#1. Explorar la forma (filas, columnas)
shape_df = df_empleados.shape
print(shape_df)

(3, 2)

In [5]:
#2. Explorar los nombres de las columnas
columns_df = df_empleados.columns
print(columns_df)

Index(['nombre', 'edad'], dtype='object')

In [6]:
#3. Explorar el índice (las etiquetas de las filas)
index_df = df_empleados.index
print(index_df)

RangeIndex(start=0, stop=3, step=1)

In [7]:
#1. Renombrar columnas
#Usamos un diccionario para mapear: 'nombre_viejo': 'nombre_nuevo'
df_empleados = df_empleados.rename(columns={'nombre':'empleado','edad':'años'})
print(df_empleados)

  empleado  años
0      Ana    30
1     Luis    25
2   Carlos    40

In [ ]:
#2. Cambiar el índice (Index)
#Convertimos la