In [1]:
import pandas as pd

In [2]:
#1. Creamos un diccionario con la informaci√≥n
datos = {
    'nombre':['Ana','Luis','Carlos'],
    'edad':[30,25,40]
}

In [3]:
#2. Convertimos ese diccionario en un DataFrame de Pandas
df_empleados = pd.DataFrame(datos)

In [4]:
#3. Mostramos el resultado
print(df_empleados)

   nombre  edad
0     Ana    30
1    Luis    25
2  Carlos    40

In [5]:
#Seleccionamos la columna 'edad'
edades = df_empleados['edad']

In [6]:
#Mostramos el contenido
print("Contenido de la variable edades:")
print(edades)

Contenido de la variable edades:
0    30
1    25
2    40
Name: edad, dtype: int64

In [7]:
#Verificamos el tipo de dato
print("\nEl tipo de dato es: ")
print(type(edades))

El tipo de dato es:
<class 'pandas.core.series.Series'>